/Firmware/Reflow.cywrk.*
/Firmware/ComponentUpdateLog.txt
/Firmware/ReflowCtrl.cydsn/codegentemp
/Firmware/ReflowCtrl.cydsn/CortexM3
/Firmware/ReflowCtrl.cydsn/Export
/Firmware/ReflowCtrl.cydsn/Generated_Source
/Firmware/ReflowCtrl.cydsn/BUILD.log
/Firmware/ReflowCtrl.cydsn/CLEAN.log
/Firmware/ReflowCtrl.cydsn/GENERATE_API.log
/Firmware/ReflowCtrl.cydsn/ReflowCtrl.cyprj.*
/Firmware/ReflowCtrl.cydsn/REBUILD.log